parameters:
  inferPrivatePropertyTypeFromConstructor: true
  bootstrapFiles:
    - %currentWorkingDirectory%/../../lib/base.php
  excludePaths:
    - %currentWorkingDirectory%/appinfo/Migrations/*.php
    - %currentWorkingDirectory%/appinfo/routes.php
  ignoreErrors:
    -
      message: '#Property OCA\\Richdocuments\\Controller\\SettingsController::\$userId is never read, only written.#'
      path: lib/Controller/SettingsController.php
    -
      message: '#Dead catch - Exception is never thrown in the try block.#'
      path: lib/Controller/DocumentController.php
