parameters:
  inferPrivatePropertyTypeFromConstructor: true
  bootstrapFiles:
    - %currentWorkingDirectory%/../../lib/base.php
  excludePaths:
    - %currentWorkingDirectory%/appinfo/Migrations/*.php
    - %currentWorkingDirectory%/appinfo/routes.php
  ignoreErrors:
    -
      message: '#Property OCA\\Richdocuments\\Controller\\SettingsController::\$userId is never read, only written.#'
      path: lib/Controller/SettingsController.php
    -
      message: '#^Dead catch [^"]* is never thrown in the try block.$#'
      path: lib/Controller/WopiController.php  
    -
      message: '#Method Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface::dispatch\(\) invoked with 2 parameters, 1 required.#'
      path: lib/FileService.php